#home-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
                    rgba(0, 0, 0, 0.5)), 
                    url('/static/img/main_background.jpg');
    background-size: cover;
    background-position: center;
}

#home-welcome{
    font-size: 60px;
    color: white;
}

#home-narration{
    font-size: 20px;
    color: white;
}